@media (max-width: 670px) {
    
    h1 {font-size: 35px;}
    h2 {font-size: 30px;}
    h3 {font-size: 25px;}
    h4 {font-size: 16px;}
    p {font-size: 14px; line-height: 1.5em;}
    
    /* ********************** */
    /*         header         */
    /* ********************** */
    header {
        padding: 20px 0;
    }

    #header-inner {
        padding: 0 20px;
    }

    #header-title img {
        height: 20px;
        padding-left: 0;
    }

    #header-list {
        display: none;
    }

    #humberger-icon {
        display: block;
    }

    /* open-btn */
    .open-menu {
        position: relative;
        display: inline-block;
    }

    .open-menu:before,
    .open-menu:after {
        content: '';
        position: absolute;
    }

    .open-menu:before {bottom: 10px;}
    .open-menu:after {top: 10px;}

    .open-menu,
    .open-menu:before,
    .open-menu:after {
        display: block;
        z-index: 10001;
        height: 2px;
        width: 30px;
        border-radius: 2px;
        background-color: #7a7a7a;
        transition: .3s;
    }
    
    /* close-btn */
    .close-menu {
        position: relative;
        display: inline-block;
    }

    .close-menu:before,
    .close-menu:after {
        content: '';
        position: absolute;
    }

    .close-menu,
    .close-menu:before,
    .close-menu:after {
        display: block;
        z-index: 10001;
        height: 2px;
        width: 30px;
        border-radius: 2px;
        background-color: #7a7a7a;
        transition: .3s;
    }

    .close-menu:before {
        bottom: 0px;
        transform: rotate(-45deg);
    }
    .close-menu:after {
        top: 0px;
        transform: rotate(45deg);
    }

    .close-menu {
        background-color: transparent;
    }


    /* ********************** */
    /*          page          */
    /* ********************** */
    .container {
        padding: 100px 15px 0px 15px;
    }

    .head-content {
        padding-left: 0;
    }

    #home-profile {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-top: 40px;
    }

    .photo-img {
        padding-bottom: 20px;
        margin: 0 auto;
    }

    .photo-img img {
        width: 80px;
    }

    .head-content {
        text-align: center;
    }

    .sns-icon .fab,
    .sns-icon .fas {
      padding: 20px;
    }

    .page-title h2 {
        margin: 0 auto 30px auto;
    }
    .works {
        display: block;
        margin-top: 20px;
    }

    .works-title h3 {
        padding: 30px 0 40px 0;
    }

    .discription-txt {
        padding-bottom: 15px;
    }

    .works-sns-icon {
        margin: 25px 0 0 0;
        display: flex;
        align-items: center;
    }
      
    .works-sns-icon .fab {
        margin-right: 10px;
        font-size: 1.5em;
    }

    .work-content {
        width: 100%;
        padding-top: 0px;
    }

    .works-txt {
        border-left: 0px;
        width: 100%;
        padding: 40px 0;
    }

    .work-img {
        padding: 15px 10px;
    }

    .works-list table {
        padding: 15px;
    }

    .works-list table th,
    .works-list table td {
        line-height: 1.6em;
        font-size: 14px;
    }

    .works-list table th {
        width: 33%;
    }

    .works-list table td {
        padding-left: 10px;
    }

    .works-copyright {
        font-size: 6px;
    }

    .gallery-content {
        width: 100%;
        padding-top: 0px;
        align-items: center;
        /* position: relative; */
      }
      
    .gallery-img {
        width: 100%;
        padding: 20px 40px;
        /* position: absolute; */
        float: left;
    }

    /* aboutページ */
    .about-content1 {
        height: 500px;
        background-position: center;
    }
    
    .about-content2 {
        height: 450px;
    }
    
    .about-content3 {
        height: 450px;
        background-position: center;
    }
    .about-content1 .about-txt {
        padding: 150px  20px 130px 20px;
    }

    .about-content2 .about-txt,
    .about-content3 .about-txt {
        padding: 150px  30px;
        text-align: center;
    }
    
    .about-txt h2 {
        font-size: 50px;
        margin-bottom: 15px;
        font-weight: normal;
    }
    
    .about-txt p {
        font-size: 18px;
    }

    /* footer */
    footer .sns-btn {
        margin-top: 40px;
    }
}